.footer-container {
    background: rgb(249, 252, 255);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:24px;
    color:#000;
    margin-left:50px;
}

.footer-subscription-heading {
    margin-bottom: 8px;
    font-size:18;
}

.footer-subscription-text {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom:24px;
    font-size:12px;
}

.footer-input {
    padding: 7px 22px;
    width: 300px;
    border-radius: 25px;
    margin-right: 10px;
    outline:none;
    border:1px solid #635bff;
}

.sociallink{
    display: block;
    color: #b8b8b8;
    font-size:18px;
    transition: 0.2s ease;
}
.sociallink:hover {
    transform: scale(1.1);
    color: #635bff;
}

.social-media {
    max-width: 100px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    max-width:1000px;
    margin:10px auto 0 auto;
}

.social-icons {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100px;
}

.social-logo {
    background: #635bff;
    padding:7px;
    border-radius: 30px;
    height: 56px;
    transition: 0.2s ease;
}
.social-logo:hover{
    transform: scale(1.1);
}

@media screen and (max-width:992px) {
    .footer-container {
        padding: 20px 0;
        flex-direction: column;
    }
    .footer-subscription {
        margin-left:0px;
    }
    .social-logo {
        margin-top:20px;
    }
}

@media screen and (max-width: 360px) {
    .footer-input {
        width: 100%;
    }
}