.home_section{
    padding:100px 0px 150px 0px;
    overflow:hidden;
}

.darkBg {
    background: rgb(21, 21, 39);
}

.lightBg {
    background: rgb(249, 252, 255);
}

.section-row {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}

.section-col {
    flex:1;
    flex-basis:50%;
    overflow:hidden;
}

.section-text-wrapper {
    max-width:540px;
    padding-top:0;
    margin-bottom: 120px;
}

.top-line {
    color: #635bff;
    font-size:18px;
    line-height:16px;
    font-weight:600;
    letter-spacing:0px;
    margin-bottom: 30px;
}

.section-heading {
    margin-bottom:24px;
    font-size:0.9em;
    line-height:1.2;
    letter-spacing: -0.1rem;
    font-weight:500;
    color: #000;
}

.section-subtitle {
    max-width:440px;
    margin-bottom:25px;
    font-size:18px;
    line-height:24px;
}

.section-img-wrapper {
    position:relative;
    float: right;
}

.section-img {
    max-width: 1100px;
    padding-left:0;
    margin-left:0;
    margin-right:100px;
}

@media screen {
    .home_section {
        font-size:45px;
    }
}

@media screen and (max-width:1199px) {
    .section-img-wrapper {
        float:none;
        right: 325px;
    }
    .section-img {
        max-width: 800px;
        margin-right:0px;
    }
}

@media screen and (max-width:991px) {
    .section-col {
        flex-basis: 100%;
    }
    .section-text-wrapper {
        margin-left: 40px;
    }
    .section-heading {
        max-width:90%;
    }
    .section-subtitle {
        max-width:85%;
    }
    .section-img-wrapper {
        float:none;
        right: 150px;
    }
    .section-img {
        max-width: 1100px;
        margin-right:0px;
    }
}
@media screen and (max-width:600px) {
    .section-img-wrapper {
        float:none;
        right: 260px;
    }
    .section-img {
        max-width: 700px;
        margin-right:0px;
    }
}