.home_section{
    padding:100px 0px 150px 0px;
    overflow:hidden;
}

.darkBg {
    background: rgb(13, 39, 63);
}

.lightBg {
    background: rgb(249, 252, 255);
}

.sectiontwo-row {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}

.sectiontwo-col {
    flex:1;
    flex-basis:50%;
    overflow:hidden;
}

.sectiontwo-text-wrapper {
    max-width:540px;
    padding-top:0;
    margin:0 auto;
    margin-bottom: 120px;
}

.sectiontwo-top-line {
    color: #00d4ff;
    font-size:18px;
    line-height:16px;
    font-weight:600;
    letter-spacing:0px;
    margin-bottom: 30px;
}

.sectiontwo-heading {
    margin-bottom:24px;
    font-size:0.9em;
    line-height:1.2;
    letter-spacing: -0.1rem;
    font-weight:500;
    color: rgb(255, 255, 255);
}

.sectiontwo-subtitle {
    margin-bottom:15px;
    font-size:18px;
    line-height:24px;
    color: rgb(255, 255, 255);
}

.sectiontwo-img-wrapper {
    position:relative;
}

.sectiontwo-img {
    max-width:900px;
}

@media screen {
    .home_section {
        font-size:45px;
    }
}

@media screen and (max-width:1199px) {
    .sectiontwo-row{
        margin-left:50px;
    }
}


@media screen and (max-width:991px) {
    .sectiontwo-col {
        flex-basis: 100%;
    }
    .sectiontwo-text-wrapper {
        margin-left: 40px;
        padding-left: 0px;
        margin-right: 0px;
        text-align: start;
    }
    .sectiontwo-heading {
        max-width:90%;
    }
    .sectiontwo-subtitle {
        max-width:85%;
    }
    .sectiontwo-img-wrapper {
        float:none;
        right: 150px;
    }
    .sectiontwo-img {
        max-width: 700px;
        margin-right:0px;
    }
}