.home_section {
    overflow:hidden;
    padding: 100px 0px 200px 0px;
}

.lightBg {
    background: rgb(249, 252, 255);
}

.section-row {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}

.section-col {
    margin-bottom:15px;
    padding-right:-15px;
    padding-left:-15px;
    flex:1;
    flex-basis:50%;
}

.section-text-wrapper {
    max-width:540px;
    padding-top:0;
    margin-bottom: 120px;
}

.top-line {
    color: #635bff;
    font-size:18px;
    line-height:16px;
    font-weight:600;
    letter-spacing:0px;
    margin-bottom: 30px;
}

.section-heading {
    margin-bottom:24px;
    font-size:0.9em;
    line-height:1.2;
    letter-spacing: -0.1rem;
    font-weight:500;
    color: #000;
}

.section-subtitle {
    max-width:440px;
    margin-bottom:15px;
    font-size:18px;
    line-height:24px;
}

.section-img-wrapper {
    position: relative;
}

.section-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
}

@media screen {
    .home_section {
        font-size:45px;
    }
}

@media screen and (max-width:1199px) {
    .heading {
        font-size:100px;
    }
}

@media screen and (max-width:991px) {
    .heading {
        font-size:80px;
    }
    .section-img {
        max-width: 900px;
        margin-top: -50px;
        margin-left: 40px;
    }
}

@media screen and (max-width:768px) {
    .home_section {
        overflow: hidden;
        position: relative;
        padding-right:40px;
        margin-left:0px;
    }

    .section-text-wrapper {
        padding-bottom:0px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section-row {
        padding-left:-5px;
        padding-right:-5px;
    }

    .section-col {
        max-width:100%;
    }

    .heading {
        margin-top: 10px;
        color:rgb(30, 30, 30);
        font-size:64px;
        letter-spacing:-0.2rem;
        line-height: 1;
    }

    .section-subtitle {
        width: 100%;
        font-size:18px;
        line-height: 1.6;
        font-weight: 400;
    }

    .section-img {
        margin-top: -50px;
        max-width: 900px;
        margin-left: 100px;
    }
}

@media screen and (max-width:601px) {
    .heading {
        font-size:54px;
    }
    .section-img {
        margin-left: 20px;
    };
}

@media screen and (max-width:400px) {
    .section-img-wrapper {
        visibility:visible;
    }
}