.service_section {
    padding: 100px 0 160px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
  }
  
  .service_container-card {
    background: none;
    width: 350px;
    height: 350px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
  }
  
  .service_container-card:nth-child(2) {
    margin: 0 50px;
  }
  
  .service_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .service_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  
  .service_heading {
    color: #000000;
    margin-bottom: 24px;
  }
  
  .service_container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .service_container-cardInfo h3 {
    letter-spacing: -0.05rem;
    margin-bottom: 5px;
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .service_container-cardInfo p {
    font-size:14px;
    margin-top:12px;
    margin-bottom:24px;
    font-weight:500;
    color:rgb(148, 148, 148);
  }
  
  .service_container-features {
    margin: 16px 0 32px;
    list-style: none;
  }
  
  .service_container-features li {
    margin-bottom: 10px;
  }
  
  .service_container-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    margin: 24px 0;
  }

  @media screen and (max-width: 1199px) {
    .service_container {
      justify-content: center;
      align-items: center;
    }

    .service_container-card {
      width: 250px;
      height: 350px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .service_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .service_container-card {
      width: 90%;
      margin-bottom: 40px;
    }
  
    .service_wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }