@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(130deg, #ffbb00, #ffbb00, rgb(255, 126, 165), #00bbff, #00bbff);
  background-size: 400% 400%;
  background-repeat:repeat;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.canvas{
  background-color: rgba(255, 255, 255);
  width: 100%;
  position:absolute;
  clip-path: polygon(0 42%, 100% 15%, 100% 100%, 0 100%);
  z-index: -1;
  display: inline;
  overflow: hidden;
  height: 1000px;
}

.circles{
  position: absolute;
  filter: blur(40px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(255, 255, 255, 0.4);
  animation: animate 25s linear infinite;
  bottom: 0px;
  
}

.circles li:nth-child(1){
  left: 5%;
  width: 250px;
  height: 250px;
  animation-delay: 1s;
  animation-duration: 12s;
}


.circles li:nth-child(2){
  left: 15%;
  width: 400px;
  height: 400px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles li:nth-child(3){
  left: 25%;
  width: 400px;
  height: 400px;
  animation-delay: 4s;
  animation-duration: 6s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 600px;
  height: 600px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.circles li:nth-child(5){
  left: 60%;
  width: 300px;
  height: 300px;
  animation-delay: 3s;
  animation-duration: 10s;
}

.circles li:nth-child(6){
  left: 10%;
  width: 400px;
  height: 400px;
  animation-delay: 2s;
  animation-duration: 14s;
}



@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 0.5;
      border-radius: 50%;
      background-position: 0% 50%;
  }

	50% {
		background-position: 100% 50%;
	}
  100%{
      transform: translateY(-1500px) rotate(0deg);
      opacity: 0;
      border-radius: 50%;
      background-position: 0% 50%;
  }
}


@media screen and (max-width: 1199px) {
    .canvas {
    clip-path: polygon(0 38%, 100% 18%, 100% 100%, 0 100%);
  }
}
@media screen and (max-width:991px) {
  .canvas {
    clip-path: polygon(0 34%, 100% 20%, 100% 100%, 0 100%);
  }
}

@media screen and (max-width:768px) {
  .canvas {
    clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0 100%);
  }
}